/* ======================= */
/* INTRO ANIMATION SECTION */
/* ======================= */

/* The section that holds the video */
#intro_animation {
    position: fixed;         /* overlay top of page */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

/* Fade out the whole section */
#intro_animation.fade-out {
    opacity: 0;
    pointer-events: none;
  }

/* The video container */
#video_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* The video itself */
#blackhole_video {
    position: fixed;
    width: 100%;                /* Make it cover the entire width */
    height: auto;               /* Adjust height automatically to maintain aspect ratio */
    object-fit: cover;          /* Ensures it covers the container without stretching */
    z-index: -1;                /* Ensure the video stays behind other content */
    transition: opacity 1s ease-out; /* Add fade-out effect */
}

/* Hide the entire section when marked as hidden */
#blackhole_section.hidden {
    display: none;
}

/* Prevent scrolling */
body.no-scroll {
    overflow: hidden;
}