#promotional {
    position: fixed;
    top: 0;
    left: 0;
    height: 35px;
    width: 100%;
    background-color: black;
    z-index: 10001;
    display: flex;
    align-items: center;
    justify-content: center;
}
    

