#store {
  background-color: rgb(70, 70, 70);
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}


.collections {
  margin-top: 4%;
  display: grid;
  overflow-y: hidden;
  width: 100vw;
  height: auto
}

/* Apply different sizes for each quadrant */
.collection1 {
  position: relative;
  height: 870px; /* Custom height for the first quadrant */
  width: 1200px;
  will-change: transform; /* “Hey, I’m going to change the transform property on this element soon — so get ready.” */
}

.collection1 img {
  width: 29%;
  height: auto;
}

.collection2 img {
  width: 29%;
  height: auto;
}

.collection3 img {
  width: 29%;
  height: auto;
}

.collection4 img {
  width: 29%;
  height: auto;
}

.collection2 {
  position: fixed;
  height: 870px; /* Custom height for the second quadrant */
  width: 1200px;
  background-color: rgb(48, 48, 48);
  will-change: transform;
}

.info1 {
  position: fixed;
  height: 450px; /* Custom height for the third quadrant */
  width: 600px;
  background-color: rgb(48, 48, 48);
  will-change: transform;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  z-index: 90;
}

.info1.visible {
  opacity: 1;
  transform: translateY(0);
}

.info2 {
  position: fixed;
  height: 450px; /* Custom height for the fourth quadrant */
  width: 600px;
  background-color: rgb(48, 48, 48);
  will-change: transform;
}

#scroll-buffer {
  height: 1px; /* small but enough to enable scroll */
  margin-top: 150vh; /* adds scroll space visually below the fold */
}