#scrollIndicator {
  position: fixed;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#dotTop {
  width: 30px;
    height: 30px;
}

#dotBottom {
  width: 15px;
    height: 15px;
}