/* Limit all elements' width to viewport */
* {
    box-sizing: border-box;
    max-width: 100vw;
}

.storeFlavourTextBeAbsent {
  position: fixed;
  top: 12%;
  right: 1%;
  transform: none; /* We'll override this dynamically */
  font-size: 14vw;
  pointer-events: none;
  will-change: transform;
}
