/* Third Section */
#brand_identity {
    position: relative;
    width: 100vw;
    min-height: 100vh; /* Make sure it can grow */
    background-color: #c92a2a; /* Dark background to match your theme */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#Collection_1_Footage_01 {
    position: absolute;
    top: 0;
    left: 0;
    width: 130%;
    height: 100%;
    object-fit: cover;
}

