#promotionalBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 35px;
    width: 100%;
    background-color: black;
    z-index: 10001;

    /* hide completely at first */
    display: none;
    opacity: 0;
    align-items: center;
    justify-content: center;
    transition: top 0.05s ease-out, opacity 0.5s ease;
}

#promotionalBar.visible {
    display: flex;        /* restore layout */
    opacity: 1;           /* fade in */
    pointer-events: auto; /* allow clicks */
}
